
  /* Styling the scrollbar */
  .ecoScroll::-webkit-scrollbar {
    width: 1px; /* Set the width of the scrollbar */
  }
  
  .ecoScroll::-webkit-scrollbar-thumb {
    background-color: #7abf18; /* Set the color of the scrollbar thumb */
    border-radius: 4px; /* Round the corners of the scrollbar thumb */
  }
  
  .ecoScroll::-webkit-scrollbar-track {
    background-color: #000000; /* Set the color of the scrollbar track */
  }
  
  .ecoScroll::-webkit-scrollbar-thumb:hover {
    background-color: #7abf18; /* Set the color of the scrollbar thumb on hover */
  }

  /* Add these styles to your CSS file */
.navbar {
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar-scrolled {
  background-color: #ffffff; 
}

/* Add this animation for the transition effect */
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
